/* ==UserStyle==
@name           GruvBox - AdGuardHome
@namespace      github.com/nsabbatini/userstyles
@version        1.0.0
@description    Google... AdGuardHome style.
@preprocessor   stylus
@author         nsabbatini
@license        WTFPL
@updateURL      https://github.com/nsabbatini/userstyles/raw/main/gruvbox-AdGuardHome.user.styl
@homepageURL    https://github.com/nsabbatini/userstyles
@var color gruv-bg0_h        "Background 0h" #1d2021
@var color gruv-bg0_s        "Background 0s" #32302f

@var color gruv-bg0          "Background 0" #282828
@var color gruv-bg1          "Background 1" #3c3836
@var color gruv-bg2          "Background 2" #504945
@var color gruv-bg3          "Background 3" #665c54
@var color gruv-bg4          "Background 4" #7c6f64

@var color gruv-fg0-ww       "Background 0 weaker" #fbf1c78a
@var color gruv-fg0-w        "Background 0 weak"   #fbf1c7bd

@var color gruv-fg0          "Foreground 0" #fbf1c7
@var color gruv-fg1          "Foreground 1" #ebdbb2
@var color gruv-fg2          "Foreground 2" #d5c4a1
@var color gruv-fg3          "Foreground 3" #bdae93
@var color gruv-fg4          "Foreground 4" #a89984

@var color gruv-gray         "Gray"         #928374

@var color gruv-red-light    "Red Light"    #fb4934
@var color gruv-red-dark     "Red Dark"     #cc241d

@var color gruv-orange-light "Orange Light" #fe8019
@var color gruv-orange-dark  "Orange Dark"  #d65d0e

@var color gruv-yellow-light "Yellow Light" #fabd2f
@var color gruv-yellow-dark  "Yellow Dark"  #d79921

@var color gruv-green-light  "Green Light"  #b8bb26
@var color gruv-green-dark   "Green Dark"   #98971a

@var color gruv-aqua-light   "Aqua Light"   #8ec07c
@var color gruv-aqua-dark    "Aqua Dark"    #689d6a

@var color gruv-blue-light   "Blue Light"   #83a598
@var color gruv-blue-dark    "Blue Dark"    #458588

@var color gruv-purple-light "Purple Light" #d3869b
@var color gruv-purple-dark  "Purple Dark"  #b16286

==/UserStyle== */

@-moz-document url-prefix("http://pato/#"), url-prefix("http://pato.localdomain/#") {

    body {
        color: gruv-fg2 !important;
        background-color: gruv-bg0 !important;
    }

    .header {
        background:gruv-bg2 !important;
        background-color: gruv-bg2 !important;
    }

    .mobile-menu {
        background-color: gruv-bg2 !important;
    }

    .footer {
        color: gruv-fg1 !important;
        background: gruv-bg2 !important;
    }

    .footer a:not(.btn) {
        color: gruv-fg1 !important;
    }

    .page-title {
        color: gruv-fg3 !important;
    }

    .page-subtitle {
        color: gruv-fg2 !important;
    }

    a {
        color: gruv-fg1 !important;
    }

    a:hover {
        color: gruv-fg0 !important;
    }

    .form-control {
        color:gruv-fg2 !important;
        background-color: gruv-bg0 !important;
        border: 1px solid gruv-bg3 !important;
    }

    .form-control:focus {
        color: gruv-fg2 !important;
        background-color: gruv-bg0_h !important;
        border-color: #1991eb !important;
    }

    .form-control::placeholder {
        color: gruv-gray !important;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: gruv-bg1 !important;
    }

    .btn-success {
        color: #fff !important;
        background-color: gruv-aqua-dark !important;
        border-color: gruv-aqua-dark !important;
    }

    .btn-success.disabled,
    .btn-success:disabled {
        color: #fff !important;
        background-color: gruv-aqua-dark !important;
        border-color: gruv-aqua-dark !important;
    }

    .btn-secondary {
        color: #fff !important;
        background-color: gruv-aqua-dark !important;
    }

    .btn-secondary:hover {
        color: gruv-fg1 !important;
        background-color: gruv-aqua-light !important;
    }

    .dropdown-menu {
        color: gruv-fg1 !important;
        background-color: gruv-bg0 !important;
    }

    .custom-select {
        color: gruv-fg2 !important;
        background-color: gruv-bg0 !important;
    }

    .custom-select:focus {
        border-color:gruv-fg4 !important;
    }

    .card {
        background-color: gruv-bg1 !important;
    }

    .nav-tabs {
        color: gruv-yellow-dark !important;
    }

    .nav-tabs .nav-link:hover:not(.disabled) {
        border-color: gruv-yellow-light !important;
        color: gruv-yellow-light !important;
    }

    .card-title small,
    .card-subtitle {
        color: gruv-fg2 !important;
    }

    .dropdown-item {
        color: gruv-fg2 !important;
    }

    .custom-switch-indicator {
        background: gruv-bg3 !important;
    }

    .custom-switch-indicator:before {
        background: gruv-aqua-dark !important;
    }

    .nav-tabs .nav-link.active {
        border-color: gruv-yellow-light !important;
        color: gruv-yellow-light !important;
    }

    .nav-tabs .nav-link.active:hover {
        border-color: gruv-orange-light !important;
        color: gruv-orange-light !important;
    }

    .tooltip-container {
      background-color: gruv-bg0 !important;
    }

    .checkbox__input:disabled + .checkbox__label {
        color: gruv-gray !important;
    }

    .checkbox__label-subtitle {
        color: gruv-fg2 !important;
    }

    .form__desc {
        color: gruv-fg2 !important;
    }

    .service {
        border: 1px solid gruv-bg3 !important;
    }

    .service__icon {
        color: gruv-aqua-light !important;
    }

    .tooltip-custom__container {
        background-color: gruv-bg0 !important;
    }

    .logs__text {
        color: gruv-fg1 !important;
    }

    .logs__text--link {
        color: gruv-fg1 !important;
    }

    .logs__text--link:hover,
    .logs__text--link:focus {
        color: gruv-fg0 !important;
    }

    .tooltip-custom__container .button-action--arrow-option:not(:disabled):hover {
        background: gruv-bg0 !important;
    }

    .logs__row--red {
        background-color: #cc241d4f !important;
    }

    .logs__row--white {
        background-color: gruv-bg1 !important;
    }

    .logs__table {
        background-color: gruv-bg1 !important;
    }

    .ReactTable .-pagination input, .ReactTable .-pagination select {
        background: gruv-bg0 !important;
        color: gruv-fg2 !important;
    }

    .ReactTable .-pagination .-btn {
        color: gruv-fg1 !important;
        background: gruv-bg3 !important;
    }

    .ReactTable .rt-noData {
        color: gruv-fg2 !important;
    }

    .counters__row {
        border-top: 1px hidden !important;
    }
}
