/* ==UserStyle==
@name           GruvBox - AdGuardHome
@namespace      github.com/nsabbatini/userstyles
@version        1.1.1
@description    Google... AdGuardHome style.
@preprocessor   stylus
@author         nsabbatini
@license        WTFPL
@updateURL      https://github.com/nsabbatini/userstyles/raw/main/gruvbox-AdGuardHome.user.styl
@homepageURL    https://github.com/nsabbatini/userstyles
@var color gruv-bg0_h        "Background 0h" #1d2021
@var color gruv-bg0_s        "Background 0s" #32302f

@var color gruv-bg0          "Background 0" #282828
@var color gruv-bg1          "Background 1" #3c3836
@var color gruv-bg2          "Background 2" #504945
@var color gruv-bg3          "Background 3" #665c54
@var color gruv-bg4          "Background 4" #7c6f64

@var color gruv-fg0-ww       "Background 0 weaker" #fbf1c78a
@var color gruv-fg0-w        "Background 0 weak"   #fbf1c7bd

@var color gruv-fg0          "Foreground 0" #fbf1c7
@var color gruv-fg1          "Foreground 1" #ebdbb2
@var color gruv-fg2          "Foreground 2" #d5c4a1
@var color gruv-fg3          "Foreground 3" #bdae93
@var color gruv-fg4          "Foreground 4" #a89984

@var color gruv-gray         "Gray"         #928374

@var color gruv-red-light    "Red Light"    #fb4934
@var color gruv-red-dark     "Red Dark"     #cc241d

@var color gruv-orange-light "Orange Light" #fe8019
@var color gruv-orange-dark  "Orange Dark"  #d65d0e

@var color gruv-yellow-light "Yellow Light" #fabd2f
@var color gruv-yellow-dark  "Yellow Dark"  #d79921

@var color gruv-green-light  "Green Light"  #b8bb26
@var color gruv-green-dark   "Green Dark"   #98971a

@var color gruv-aqua-light   "Aqua Light"   #8ec07c
@var color gruv-aqua-dark    "Aqua Dark"    #689d6a

@var color gruv-aqua-light-t "Aqua Light Transp." #8ec07c4f
@var color gruv-aqua-dark-t  "Aqua Dark Transp."  #689d6a59

@var color gruv-blue-light   "Blue Light"   #83a598
@var color gruv-blue-dark    "Blue Dark"    #458588

@var color gruv-purple-light "Purple Light" #d3869b
@var color gruv-purple-dark  "Purple Dark"  #b16286

==/UserStyle== */

@-moz-document url-prefix("http://pato/#"), url-prefix("http://pato.localdomain/#") {

    body {
        color: gruv-fg0-w !important;
        background-color: gruv-bg0_h !important;
    }

    .header {
        background:gruv-bg2 !important;
        background-color: gruv-bg1 !important;
    }

    .mobile-menu {
        background-color: gruv-bg1 !important;
    }

    .footer {
        color: gruv-fg0-w !important;
        background: gruv-bg1 !important;
    }

    .footer a:not(.btn) {
        color: gruv-fg0-w !important;
    }

    .page-title {
        color: gruv-fg1 !important;
    }

    .page-subtitle {
        color: gruv-fg0-w !important;
    }

    a {
        color: gruv-aqua-dark !important;
    }

    a:hover {
        color: gruv-aqua-light!important;
    }

    .form-control {
        color:gruv-fg0-w !important;
        background-color: gruv-bg0_h !important;
        border: 1px solid gruv-bg2 !important;
    }

    .form-control:focus {
        color: gruv-fg0-w !important;
        background-color: gruv-bg0_h !important;
        border-color: gruv-bg3 !important;
    }

    .form-control::placeholder {
        color: gruv-gray !important;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: gruv-bg0 !important;
    }

    .btn-primary, .btn-secondary, .btn-success {
        color: gruv-aqua-dark !important;
        background-color: gruv-aqua-dark-t !important;
        border-color: gruv-aqua-dark !important;
    }

    .btn-primary:hover, .btn-secondary:hover, .btn-success:hover {
        color: gruv-aqua-light !important;
        border-color: gruv-aqua-light !important;
        background-color: gruv-aqua-light-t !important;
    }

    .btn-outline-primary, .btn-outline-secondary, .btn-outline-success {
        color: gruv-aqua-dark !important;
        border-color: gruv-aqua-dark !important;
    }

    .btn-outline-primary:hover, .btn-outline-secondary:hover, .btn-outline-success:hover {
        color: gruv-aqua-light !important;
        border-color: gruv-aqua-light !important;
        background-color: gruv-aqua-light-t !important;
    }

    .btn-primary:disabled, .btn-secondary:disabled, .btn-success:disabled,
    .btn-outline-primary:disabled, .btn-outline-secndary:disabled, .btn-outline-success:disabled {
        color: gruv-aqua-dark !important;
        background-color: transparent !important;
        border-color: gruv-aqua-dark !important;
    }

    .dropdown-menu {
        color: gruv-fg0-w !important;
        background-color: gruv-bg0 !important;
    }

    .custom-select {
        color: gruv-fg0-w !important;
        background-color: gruv-bg0_h !important;
        border: 1px solid gruv-bg2 !important;
    }

    .custom-select:hover, .custom-select:focus {
        border-color: gruv-bg4 !important;
    }

    .card {
        background-color: gruv-bg0 !important;
        border: 1px solid gruv-bg1 !important;
    }

    .card-header {
        border-bottom: 1px solid gruv-bg1 !important;
    }

    .nav-tabs {
        color: gruv-aqua-dark !important;
    }

    .nav-tabs .nav-link:hover:not(.disabled) {
        border-color: gruv-aqua-light !important;
        color: gruv-aqua-light !important;
    }

    .nav-tabs .nav-link.active {
        border-color: gruv-aqua-light !important;
        color: gruv-aqua-light !important;
    }

    .nav-tabs .nav-link.active:hover {
        border-color: gruv-aqua-light !important;
        color: gruv-aqua-light !important;
    }

    .card-title small,
    .card-subtitle {
        color: gruv-fg0-w !important;
    }

    .dropdown-item {
        color: gruv-fg0-w !important;
    }

    .dropdown-item:hover {
        background-color: gruv-aqua-dark-t !important;
    }

    .dropdown-item.active {
        background-color: gruv-aqua-light-t !important;
    }

    .custom-switch-indicator {
        background: gruv-bg3 !important;
    }

    .custom-switch-indicator:before {
        background: gruv-aqua-dark !important;
    }

    .tooltip-container {
      background-color: gruv-bg0 !important;
    }

    .checkbox__input:disabled + .checkbox__label {
        color: gruv-gray !important;
    }

    .checkbox__label-subtitle {
        color: gruv-fg0-ww !important;
    }

    .form__desc {
        color: gruv-fg0-ww !important;
    }

    .service {
        border: 1px solid gruv-bg3 !important;
    }

    .service__icon {
        color: gruv-aqua-light !important;
    }

    .icon--green {
        color: gruv-aqua-light !important;
    }

    .icon--disabled {
        color: gruv-aqua-light-t !important;
    }

    .icon--selected {
        background-color: gruv-aqua-dark-t !important;
        border: solid 1px gruv-bg3 !important;
    }

    .tooltip-custom__container {
        background-color: gruv-bg0 !important;
    }

    .logs__text:not(a) {
        color: gruv-fg0-ww !important;
    }

    .logs__text--link {
        color: gruv-aqua-dark !important;
    }

    .logs__text--link:hover,
    .logs__text--link:focus {
        color: gruv-aqua-light !important;
    }

    .tooltip-container {
        border: 1px solid gruv-bg3 !important;
    }

    .tooltip-custom__container .button-action--arrow-option:not(:disabled):hover {
        background: gruv-bg0 !important;
    }

    .logs__table .logs__row {
        border-bottom: 1px solid gruv-bg2 !important;
    }

    .logs__row--red {
        background-color: #cc241d4f !important;
    }

    .logs__row--white {
        background-color: gruv-bg0 !important;
    }

    .logs__table {
        background-color: gruv-bg0 !important;
    }

    .ReactTable {
        border: 1px solid gruv-bg1 !important;
    }

    .ReactTable .-pagination input, .ReactTable .-pagination select {
        background: gruv-bg0 !important;
        color: gruv-fg0-w !important;
    }

    .ReactTable .-pagination .-btn {
        color: gruv-fg0-w !important;
        background: gruv-bg0_h !important;
        border: 1px solid gruv-bg1 !important;
    }

    .ReactTable .rt-noData {
        color: gruv-fg0-w !important;
        background-color: gruv-bg0_h !important;
    }

    .ReactTable .rt-tbody .rt-tr-group {
        border-bottom: 1px solid gruv-bg1 !important;
    }
    .counters__row {
        border-top: 1px solid gruv-bg1 !important;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: gruv-bg0_h !important;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: gruv-bg3 !important;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: gruv-bg4 !important;
    }
    .tab__control {
        color: gruv-aqua-dark !important;
    }
}
