/* ==UserStyle==
@name           GruvBox - Youtube
@namespace      github.com/nsabbatini/userstyles
@version        1.0.2
@description    Youtube... Gruvbox style.
@preprocessor   stylus
@author         nsabbatini
@license        WTFPL
@updateURL      https://github.com/nsabbatini/userstyles/raw/main/gruvbox-youtube.user.styl
@homepageURL    https://github.com/nsabbatini/userstyles

@var color gruv-bg0_h        "Background 0h"       #1d2021
@var color gruv-bg0_s        "Background 0s"       #32302f

@var color gruv-bg0          "Background 0"        #282828
@var color gruv-bg1          "Background 1"        #3c3836
@var color gruv-bg2          "Background 2"        #504945
@var color gruv-bg3          "Background 3"        #665c54
@var color gruv-bg4          "Background 4"        #7c6f64

@var color gruv-fg0-ww       "Background 0 weaker" #fbf1c78a
@var color gruv-fg0-w        "Background 0 weak"   #fbf1c7bd

@var color gruv-fg0          "Foreground 0"        #fbf1c7
@var color gruv-fg1          "Foreground 1"        #ebdbb2
@var color gruv-fg2          "Foreground 2"        #d5c4a1
@var color gruv-fg3          "Foreground 3"        #bdae93
@var color gruv-fg4          "Foreground 4"        #a89984

@var color gruv-gray         "Gray"                #928374

@var color gruv-red-light    "Red Light"           #fb4934
@var color gruv-red-dark     "Red Dark"            #cc241d

@var color gruv-orange-light "Orange Light"        #fe8019
@var color gruv-orange-dark  "Orange Dark"         #d65d0e

@var color gruv-yellow-light "Yellow Light"        #fabd2f
@var color gruv-yellow-dark  "Yellow Dark"         #d79921

@var color gruv-green-light  "Green Light"         #b8bb26
@var color gruv-green-dark   "Green Dark"          #98971a

@var color gruv-aqua-light   "Aqua Light"          #8ec07c
@var color gruv-aqua-dark    "Aqua Dark"           #689d6a

@var color gruv-aqua-light-t "Aqua Light Transp." #8ec07c4f
@var color gruv-aqua-dark-t  "Aqua Dark Transp."  #689d6a59

@var color gruv-blue-light   "Blue Light"         #83a598
@var color gruv-blue-dark    "Blue Dark"          #458588

@var color gruv-purple-light "Purple Light"       #d3869b
@var color gruv-purple-dark  "Purple Dark"        #b16286

==/UserStyle== */

@-moz-document domain("youtube.com") {
    
    body,
    ytd-app,
    ytd-masthead,
    #guide-content.ytd-app,
    #columns.ytd-watch-flexy,
    ytd-browse[page-subtype="channels"],
    .content.ytd-video-secondary-info-renderer,
    ytd-app[is-watch-page],
    ytd-watch-flexy {
        color: gruv-fg0-ww !important;
        background: gruv-bg0_h !important;
    }
            
    a,
    h3.ytd-compact-video-renderer,
    .more-button.ytd-video-secondary-info-renderer,
    .less-button.ytd-video-secondary-info-renderer,
    .title.ytd-guide-entry-renderer {
        color: gruv-fg0-w !important;
    }
        
    #title.ytd-shelf-renderer,
    .title.ytd-video-primary-info-renderer,
    #upnext.ytd-compact-autoplay-renderer,
    yt-formatted-string.ytd-comments-header-renderer,
    #channel-title.ytd-c4-tabbed-header-renderer,
    #guide-section-title.ytd-guide-section-renderer {
        color: gruv-fg0-w !important;
    }

    yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
        color: gruv-fg0-w !important;
    }
    
    #content-text.ytd-comment-renderer {
        color: gruv-fg0-ww !important;
    }
    
    #author-text.yt-simple-endpoint.ytd-comment-renderer {
        color: color-fg0-ww !important;
    }

    .yt-icon {
        color: gruv-fg0-ww !important;
    }
        
    #simplebox-placeholder.ytd-comment-simplebox-renderer {
        color: gruv-fg0-ww !important;
    }
        
    #action-buttons.ytd-comment-renderer {
        color: gruv-fg0-w !important;
    }
        
    html:not(.style-scope)[dark],
    :not(.style-scope)[dark] {
        --yt-spec-call-to-action: color-fg0-w !important;
        --yt-spec-text-secondary: gruv-fg0-ww !important;
        --yt-spec-text-primary: gruv-fg0-w !important;
        --yt-spec-brand-button-background: gruv-fg0-w !important;
        --yt-spec-brand-link-text: gruv-fg0-w !important;
    }
}

